.section-item {
    width: 100%;
    padding: 12px 0;
    display: flex;
    gap: 16px;
    width: 293px;
}

.section-item-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: black;
}

.section-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-item-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.section-item-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: var(--small-text-color);
}