header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: var(--bg-primary-color);
    font-size: 18px;
}

nav ul {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.profile-info {
    display: flex;
    gap: 8px;
    padding: 0 4px;
    align-items: center;
}

.profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
}

@media(max-width: 400px) {
    header {
        padding: 0px 12px;
    }

    header svg {
        width: 48px;
        height: 12px;
    }
}