header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: rgba(14, 18, 35, 1);
    font-size: 18px;
}

.profile-info {
    display: flex;
    gap: 8px;
    padding: 0 4px;
    align-items: center;
}

.profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
}