footer {
    display: flex;
    justify-content: center;
    padding: 23px;
    background-color: var(--bg-primary-color);
    color: var(--primary-color);
    font-size: 18px;
    line-height: 28px;
}

@media(max-width: 400px) {
    footer {
        padding: 12px;
        font-size: 14px;
    }
}