.cards-statistics-list {
    display: flex;
    gap: 32px;
}

.card-statistics {
    padding: 24px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 330px;
    font-family: 'Inter', sans-serif;
}

.card-statistics-title {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
}

.card-statistics-count {
    font-size: 40px;
    line-height: 110%;
    font-weight: 600;
}

.card-statistics-progress {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: var(--small-text-color);
}

@media (max-width: 1150px) {
    .card-statistics {
        padding: 12px;
    }

    .card-statistics-count {
        font-size: 24px;
        gap: 8px;
    }
}

@media (max-width: 500px) {
    .card-statistics {
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .cards-statistics-list {
        gap: 12px;
    }
}

@media (max-width: 1085px) {
    .cards-statistics-list {
        flex-direction: column;
    }
}