.file-upload-dropzone {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px dotted rgba(56, 65, 98, 1);
    cursor: pointer;
}

.file-upload-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.file-upload-text-title, .file-upload-text-subtitle {
    font-size: 14px;
    line-height: 20px;
}

.file-upload-text-subtitle {
    color: rgba(135, 145, 183, 1);
}

.file-upload-dropzone.dragging {
    border-color: #3b82f6;
}

.file-upload-dropzone.error {
    border-color: #ef4444;
}