:root {
    --primary-color: rgba(255, 136, 17, 1);
    --text-color: rgba(255, 255, 255, 1);
    --button-text-color: rgba(255, 255, 255, 1);
    --small-text-color: rgba(135, 145, 183, 1);
    --border-color: rgba(56, 65, 98, 1);
    --form-bg-color: rgba(21, 26, 45, 1);
    --bg-primary-color: rgba(14, 18, 35, 1);
    --bg-secondary-color: rgba(27, 32, 55, 1);
    --modal-bg-color: rgba(27, 32, 55, 0.5);
    --error-color: rgba(255, 85, 74, 1);
    --switcher-bg-color: rgba(14, 18, 35, 1);
}

[data-theme='light'] {
    --primary-color: rgba(255, 136, 17, 1);
    --text-color: rgba(27, 32, 55, 1);
    --button-text-color: rgba(255, 255, 255, 1);
    --small-text-color: rgba(102, 112, 133, 1);
    --border-color: rgba(224, 226, 231, 1);
    --form-bg-color: rgba(255, 255, 255, 1);
    --bg-primary-color: rgba(250, 250, 250, 1);
    --bg-secondary-color: rgba(255, 255, 255, 1);
    --modal-bg-color: rgba(27, 32, 55, 0.5);
    --error-color: rgba(255, 85, 74, 1);
    --switcher-bg-color: rgb(154, 159, 180);
}

main {
    max-width: 1600px;
    margin: auto;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    line-height: 150%;
    font-weight: 600;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 110%;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

textarea,
input[type='text'],
input[type='email'],
input[type='password'] {
    border: 1px solid var(--border-color);
    background-color: var(--form-bg-color);
    color: var(--small-text-color);
}

textarea::placeholder,
input::placeholder {
    color: var(--small-text-color);
}

input:focus,
textarea:focus {
    outline: 1px solid rgb(122, 68, 255);
}

input.invalide,
textarea.invalide {
    outline: 1px solid var(--error-color);
    color: var(--error-color);
}

textarea {
    padding: 14px 14px;
    height: 58px;
    align-self: stretch;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    padding: 0 14px;
    width: 340px;
    height: 48px;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form .error-message {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--error-color);
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    outline: none;
    border: none;
    padding: 12px 48px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    font-size: 14px;
    line-height: 20px;
}

button:hover {
    background-color: rgb(8, 185, 78);
    transition: all 0.5s ease-in-out;
}

button:active {
    background-color: rgb(98, 54, 204);
}

button:disabled {
    background-color: rgb(188, 195, 227);
    pointer-events: none;
}

p {
    margin: 0;
}

svg,
label,
button {
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    button {
        padding: 8px 24px;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    input[type='text'],
    input[type='email'],
    input[type='password'] {
        width: unset;
    }
}
