.actions-section {
    display: flex;
    flex-direction: column;
    gap: 44px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

@media(max-width: 768px) {
    .actions-section {
        gap: 12px;
        align-items: start;
    }
}